
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #eeeeee;
}

.leftOfBody{
    width: 170px;
    display: flex; 
    flex-wrap: wrap;
    padding-top: 0px;
}

hr.transparent {
    border-color: #eeeeee;
    opacity: 0;
}

.pushup{
    padding-top: 0px;
}

/* navigation within the page */
.innerNavCo {
    margin-bottom: 20px;
    padding-top: 0px;
}
a.innerNav{
    display: block;
    border-bottom: 0.5px solid lightgray;
    height: 50px;
    padding-left: 15px;
    padding-top: 7.5px;
}

#innerNavL{
    border-bottom: 1px solid white;
}


.h{
    background-color: rgb(13, 11, 54);
    color: white;
    width: 180px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.innerNavCo h2 {
    padding-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.innerNavCo nav {
    background-color: white;
    line-height: 30px;
    width: 180px;
}

/* additional resources navigation */

a.resourcesCo{
    display: block;
    padding: 15px;
    color: black;
    font-size: 8px;
} 

.resourcesCo div{
    background-color: white;
    color: rgb(13, 11, 54);
    width: 180px;
    border-top: 2px solid rgb(13, 11, 54);
    font-size: 8px;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.resourcesCo h2{
    padding-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}


.resourcesCo nav {
    width: 180px;
    background-color: #eeeeee;
}

/*click to view items*/

.hiddenParagraphs{
    display: none;
    padding: 15px;
}

.clickButtons {
    margin-bottom: 20px;
    padding-top: 0px;

}

.clickButton{
    display: flex;
    border-bottom: 0.5px solid lightgray;
    height: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: white;
    width: 100%;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}

.h h2{
    position: relative;
    display: flex;
    width: 100%;
    padding-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.theB{
    position: relative;
    display: flex;
    width: 100%;
    padding-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
}

.clickButtonsCo{
    width: 180px;
    background-color: white;
}



/* actual body of the page*/

.allBody{
    width: 1170px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0px; 
    margin-top: 10px;   
}

.mainBodyCo{
    display: block;
    width: 996px;
}

.mainBody{
    display: block;
    margin-left: 30px;
    background-color: white;
    padding: 15px; 
    padding-top: 0px;
    border-top: 4px solid rgb(13, 11, 54);
}



.mainBody h1{
    font-size: 32px;
}

.mainBody p{
    font-size: 18px;
}

/*about*/
.hod{
    display: flex;
    flex-wrap: wrap;
}


h3.hod {
    font-size: 16px;
}

.hod img{
    width: 200 px;
    height: auto;
}

.hod div{
    padding: 20px;
}




/* what happens to links in the navigation */

a:link.innerNav {
    color: black;
    text-decoration: none;
}
a:visited.innerNav {
    color: black;
}
a:hover.innerNav {
    color: black;
    background-color: rgb(167, 112, 49);
    border: none;
}
a:active.innerNav {
    color: rgb(13, 11, 54);
}

/* what happens to links in the additional resources */

a:link.resourcesCo {
    color: black;
    text-decoration: none;
}
a:visited.resourcesCo {
    color: black;
}
a:hover.resourcesCo {
    color: black;
    text-decoration: underline;
    border: none;
}
a:active.resourcesCo {
    color: rgb(13, 11, 54);
}

