
/*header of all categories page*/

img.header {
    width: 200px; 
    height: auto;
}


nav.header{
    margin-right: 0px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

a.header{
    margin-right: 40px;
    font-size: 12px;
}

a.headerr{
    font-size: 12px;
}


.headerOfSite {
    display: flex;
    flex-wrap: wrap;
    background-color: #242325;;    
    top: 0px;
    width: 100%;
    border-bottom: 2px solid #242325;;
    margin-bottom: 10px;
    height: 40px;
    right: 0px;
}

.innerHeader{
    width: 1170px;
    margin: auto;
    display: flex;
    height: 40px;
}

.cslogoHeader {
    background-color: #242325;
    width: 200px;
    height: 40px;
}

header img {
    width: 1170px;
    height: 400px;
}

.imageCo {
    width: 1170px;
    height: 400px;
    margin: auto;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.imageText{
    position: absolute;
    width: 1170px;
    margin: auto;
    text-align: center;
    font-size: 12px;
    z-index: 2;
    color: white;
}

.imageText img{
    width: 18px;
    height: 18px;
    margin-bottom: -5px;
}

.overlay {
    position: absolute;
    width: 1170px;
    height: 400px;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

/* what happens to links in the header */

a:link.header,a:link.headerr  {
    color: white;
    text-decoration: none;
}
a:visited.header, a:visited.headerr {
    color: white;
}
a:hover.header, a:hover.headerr {
    color: rgb(167, 112, 49);
}
a:active.header a:active.headerr{
    color: rgb(167, 112, 49);
}

.imageText a:link {
    color: white;
    text-decoration: none;
}
.imageText a:visited {
    color: white;
}
.imageText a:hover {
    color: rwhitegb(167, 112, 49);
}
.imageText a:active  {
    color: white;
}
