/*header of the page*/

img.header {
    width: 450px; 
    height: auto;
    position: relative;
}


nav.header{
    right: 0px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

a.header{
    margin-right: 50px;
    font-size: x-large;
}


.headerOfSite {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(13, 11, 54);
    top: 0px;
    width: 100%;
}

.cslogoHeader {
    background-color: white;
    width: 450px;
    border-bottom: 2px solid rgb(13, 11, 54);
}


video.header {
    width: 100%;
    height: auto;
    top: 0px;
    object-fit: cover;
    display: block;
}


/*main part of the page*/
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box; 
}

.body{
    width: 1170px;
    margin: auto;
    padding: 20px;
}


/*footer of the page*/
footer {
    background-color: rgb(13, 11, 54);
    padding: 50px;
    position: relative;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}

#footerContainer {
    max-width: 1170px;
    margin: auto;
}

#submit {
    background-color: rgb(167, 112, 49);    
}

.footerHeader {
    text-align: left;
    color: white;
    font-size: larger; 
}

ul.bottom {
    list-style-type: none;
    padding: 0px;
    line-height: 25px;
}

#LISTS {    
    width: 600px;
}
.allFooterLists {
    width: 250px;
    height: 200px;
    padding: 15px;
}

#firstLists {
    display: flex;
    flex-wrap: wrap;
}

#nextLists {
    display: flex;
    flex-wrap: wrap;
}
#copyright {
    font-size: small;
    color:rgb(84, 90, 90);
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

.footer_item {
    color: whitesmoke;   
}

p.footer_item {
    color:rgb(84, 90, 90);
}

#form {
    height: 200px;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom:15px;
}

#formAndSubmit {
    display: flex;
}

#formandsocials {
    display: flex;
}
#form1 {
    display: inline;
    padding: 0px;    
}
#form2 {
    display: inline;
    padding: 0;
    position: relative;
    left: -7px;
}

input[type = email] {
    height: 30px;
    width: 250px;
    display: inline;
}

input[type = image] {
    height: 30px;
    width: 35px;
    display: inline;
}

#logoAndSocials {
    border-left: 2px solid black;
}

#LISTSandlogoandSocials {
    display: flex;
}


#imgHolder {
    height: 200px;
    width: 610px;
    padding-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 60px;
    text-align: center;
}
                    
/*lskfhadlf*/
#cslogo {
    border-radius: 1000px;
    text-align: center;
}

img.bottom {
    width: 500px; 
    height: auto;
    overflow: hidden;
    position: relative;
}

.social-icons {
    display: flex;
    gap: 10px; 
    height: 200px;
    padding-top: 15px;
    padding-bottom:15px;
    padding-right: 20px; 
  }
  
.icon {
    font-size: 60px;
    color: rgb(167, 112, 49);
    text-decoration: none;
    margin-right: 15px;
}



/* what happens to links in the header */

a:link.header {
    color: white;
    text-decoration: none;
}
a:visited.header {
    color: black;
}
a:hover.header {
    color: rgb(167, 112, 49);
}
a:active.header {
    color: darkcyan;
}


/* what happens to links in the footer */

a:link.footer {
    color: white;
    text-decoration: none;
}
a:visited.footer {
    color: black;
}
a:hover.footer {
    color: rgb(167, 112, 49);
}
a:active.footer {
    color: darkcyan;
}

a:link.icon {
    color: whitesmoke;
    text-decoration: none;
}
a:visited.icon {
    color: black;
}
a:hover.icon {
    color: rgb(167, 112, 49);
}
a:active.icon {
    color: darkcyan;
}

