#footer {
    background-color: rgb(24, 21, 95);
    padding: 20px;
    text-align: center;
    height: 250px;
 }

#submit {
    background-color: rgb(167, 112, 49);    
}
 
 p.light{
    font-size: small;
    color:rgb(84, 90, 90);
}

#form1{
    display: inline;
    padding: 0px;
}
#form2{
    display: inline;
    padding: 0;
    position: relative;
    left: -7px;
}

#bottom{
    position: relative;
    width: 500px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    border: 2px solid black;
    
}

.footerHeader {
    text-align: center;
}

ul{
    list-style-type: none;
    padding: 0px;
}

#allfooter1{
    display:inline;
    border: 2px solid black;
    width: 250px;
    text-align: center;
}

#allfooter2{
    display:inline;
    border: 2px solid black;
    width: 250px;
    text-align: center;
}

#allfooter3{
    display:inline;
    border: 2px solid black;
    width: 250px;
    text-align: center;
}