
.researchTopic{
    width: 930px; 
    margin-right: 25px;
    position: relative;
    height: 490px;
    margin-bottom: 20px;
}

.researchTopic img{
    position: absolute;
    height: 340px;
    left: 0px;
    top: 0px;
    width: 500px;
    z-index: 1;
}

.divContentsCo{
    position: absolute;
    width: 800px;
    height: 450px;
    right: 0px;
    bottom: 0px;
padding-left: 400px;
padding-right: 20px;

}
#topic1{
    background-color: yellow;

}

#topic2{
    background-color: orange;

}
#topic3{
    background-color: pink;
}

.divContents{
    width: 380px;
    height: 360px;
}
.allBody{
        width: 1170px;
        margin: auto;
}

.divContents h4{
    font-size: 18px;
}

.divContents p{
    font-size: 10px;
}


/*Events page*/
.eventsType{
    width: 1170px;
}

h2.eventsTypeH{
    font-size: 20px;
}

.eventsEventsCoCo{
    margin-bottom: 20px;
}
.eventsEventsCo{
    display: flex;
    flex-wrap: wrap;
    width: 1170px;
    margin-bottom: 20px;
}

.eventsEvent{
    position: relative;
    width: 510px;
    height: 200px;
    margin: auto;
}

.eventsEvent img{
    width: 250px;
    position: absolute;
    left:0px;
    top: 0px;
    height: 170px;
    z-index: 1;
}

.eventsEvent div {
    width: 470px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: pink;
    height: 170px;
    padding-left: 230px;
    padding-right: 15px;
}

.mainBodyE{
    display: block;
    background-color: white;
    padding: 15px; 
    padding-top: 0px;
    width: 1170px;
}



/*about page*/
.mainBodyA{
    display: block;
    background-color: white;
    padding: 15px; 
    padding-top: 0px;
    width: 1170px;
}

.sectionsCo{
    width: 1140px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    margin: auto;

}

.section{
    width: 570px;
    height: 350px;
    margin: auto;
}

.section img, video{
    width: 530px;
    height: 350px;

}

.section div{
    width: 570px;
    height: 350px;
    padding: 25px;
}


.section div h4{
    font-size: 16px;
}

.section div p{
    font-size: 12px;
}