/*header of the home page*/

header {
    position: relative;
}

img.header {
    width: 350px;
    height: auto;
}


nav.header {
    right: 0px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

a.header {
    margin-right: 50px;
    font-size: 18px;
    text-transform: uppercase;
}


.headerOfSite {
    display: flex;
    flex-wrap: wrap;
    top: 0px;
    width: 100%;
    position: absolute;
    z-index: 100;
}

.cslogoHeader {
    width: 350px;
    padding-left: 15px;
}

.videoText {
    text-align: left;
    z-index: 2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    width: 1170px;
    margin: auto;
    padding: 15px;
}

.videoTextC {
    position: absolute;
    bottom: 10px;
    text-align: left;
    z-index: 2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    width: 100%;
    margin: auto;
}

video.header {
    top: 0px;
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.videoTextA {
    color: white;
    font-size: 60px;
    width: 550px;
    line-height: 60px;;
    text-decoration: solid;
}


.videoTextB {
    color: white;
    font-size: 24px;
}

.videoContainer {
    position: relative;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


/*main part of the page*/
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

* {
    box-sizing: border-box;
}

.body {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;

}

.mainBody {
    max-width: 1170px;
    margin: auto;
}

.bodyHeadingHeading {
    padding: 15px;
    font-size: 40px;

}

.bodyHeadingHeading hr {
    border-color: #DC965A;
}

.course-containerCo {


    padding: 0px;

}

.course-category-p {
    font-size: 18px;
}

.course-category {
    height: 500px;
    padding-top: 50px;
    padding: 15px;
    margin: 0px;
    width: 550px;

    border-radius: 15px;
}

#cat1 {
    background-color: #C9C9EE;
    margin-right: 20px;
}

#cat2 {
    background-color: #BAABBD;
}

#cat3 {
    background-color: #8D7471;
    margin-right: 20px;
}

#cat4 {
    background-color: #9F838C;
}


.course-container {
    display: flex;
    width: 100%;
    padding: 0px;
    margin-bottom: 20px;
}

div.course-category:hover {
    transform: scale(1.03);
    z-index: 2;
}

#openPageButton1 {
    background-color: #C9C9EE;
}

#openPageButton2 {
    background-color: #BAABBD;

}

#openPageButton3 {
    background-color: #9F838C;
}


#openPageButton4 {
    background-color: #a57974;
}












/* what happens to links in the header */

a:link.header {
    color: white;
    text-decoration: none;
}

a:visited.header {
    color: white;
}

a:hover.header {
    color: #DC965A;
}

a:active.header {
    color: #DC965A;
}

.course-category-seemore a:link {
    color: white;
    text-decoration: none;
}

.course-category-seemore a:visited {
    color: white;
}

.course-category-seemore a:hover {
    color: #DC965A;
}

.course-category-seemore a:active {
    color: #DC965A;
}